/*    font-family: 'Montserrat', sans-serif;     */
*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
.container{
    text-align: center;
    padding: 50px 10vw;
}
.signUp_con{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.signUp_con div{
    width: 430px;
    border: 1px solid gray;
    text-align: left;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgb(174, 174, 174);
}
.signUp_con #heading{
    font-size: 33px;
    color: rgb(43, 43, 43);
}
.signUp_con form label{
    font-weight: bold;font-size: 16px;
}
.signUp_con form input{
    width: 100%;
    padding: 8px 10px;
    margin-top: 7px;
    border-radius: 2px;border: 1px solid gray;outline: none;
    box-shadow: 0 0 1px 1px rgb(199, 199, 199);
    font-size: 16.5px;
}
.signUp_con form input:focus{
    box-shadow: 0 0 1px 1px rgb(255, 52, 1);
}
.signUp_con form button{
    width: 100%;
    padding: 8px 10px;
    margin-top: 5px;
    border-radius: 2px;border: 1px solid gray;outline: none;
    font-size: 16.5px;
    background-color: #f4ae53;
    margin-top: 15px;
}
.signUp_con form button:hover{
    background-color: #ff9100;font-weight: bold;cursor: pointer;
}
.signUp_con a{
   text-decoration: none;
}




@media screen and (max-width:550px){
    .container{
        text-align: center;
        padding: 20px;
    }
}